@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono&display=swap');

/* Kan man ändra variablerna med JS? */
:root {
  --term-bg: #000;
  --term-color: #4af626;
  --term-color-dark: #2f9e19;
  --term-font: 'Ubuntu Mono', monospace;
  --frame-style-default-color: #313131;
  --title-bar-color: grey;
  /* font-family: 'Red Hat Mono', monospace; */
  /* color: #e89e26; */
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--term-bg);
  color: var(--term-color);
  font-family: var(--term-font);
}

#appcontainer {
  border: 3px solid var(--frame-style-default-color);
}

#titlebar {
  background-color: var(--title-bar-color);
  /* border: 4px solid white; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h1.titlebar__title {
  text-align: center;
  vertical-align: middle;
  font-size: larger;
  margin: 0;
  padding: 0;
}

.titlebar__buttons {
  display: inline;
}

.titlebar__buttons span {
  display: inline-block;
  border: 1px solid white;
  width: 1rem;
  height: 1rem;
  background-color: var(--term-bg);
  /* margin: 0.4rem 0.2rem; */
  vertical-align: middle;
  animation-name: buttonBlink;
  animation-duration: 4s;
}

nav {
  display: inline;
}

ul {
  list-style: none;
}

#menu__items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* border: 1px solid var(--frame-style-default-color); */
  position: relative;
  padding: 0 4rem 0 0;
  margin: 0;
}

.submenu {
  background-color: var(--term-bg);
  padding: 0.1rem 1rem;
  margin: 0;
  border: 1px solid var(--term-color);
  position: absolute;
}

.wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  border: 4px solid var(--frame-style-default-color);
}

.notes__list {
  padding: 0;
  margin: 0;
}

.notes__list--item {
  border: 1px solid var(--frame-style-default-color);
  border-left: none;
  border-right: none;
  padding: 0 0.4rem;
  color: var(--term-color-dark);
}

.notes__list--item:hover {
  color: var(--term-color);
}

.notes__list--item.active {
  color: var(--term-color);
}

.note-brief {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.note-title {
  font-weight: bold;
}

.note-title::before {
  content: './';
}

#editor {
  border-left: 4px solid var(--frame-style-default-color);
  padding: 1rem;
  width: 100%;
  height: 100%;
  color: var(--term-color-green);
  font-size: 1.5em;
  box-sizing: border-box;
  resize: none;
  background-color: var(--term-bg);
  outline: none;
}

#editor:focus {
  outline: none;
}

.hidden {
  display: none;
}

/* Animations */
@keyframes buttonBlink {
  from {
    background-color: white;
  }
  to {
    background-color: black;
  }
}
/* TODO: Full screen settings dialog.  */
